<body>

	<div class="bg-contact3" style="background-image: url('../../assets/imgs/bg-01.jpg');">
	  <div class="container-contact3">
		<div class="wrap-contact3">
		 
			<span class="contact3-form-title">
			  Olá!
			</span>
  
  
			<div class="wrap-input3">
			  <input type="text" name="nome"  placeholder="Insira seu nome" class="input3" ng-value="[(nome)]" id="{{nome}}" #nome>
			  <span class="focus-input3"></span>
			</div>
  
			<div class="wrap-input3">
			  <input type="text" name="cep" placeholder="Insira seu cep" class="input3" ng-value="[(cep)]" id="{{cep}}" ng-required="cep" #cep>
			  <span class="focus-input3"></span>
			</div>
  
			<div class="wrap-input3">
			  <input type="text" name="renda" placeholder="Insira sua renda" class="input3" ng-value="[(renda)]" id="{{rendaMensal}}" ng-required="rendaMensal" #rendaMensal>
			  <span class="focus-input3"></span>
			</div>
  
			<div class="wrap-input3">
			  <input type="text" name="dependentes" placeholder="Insira a qntd de dependentes" class="input3" ng-value="[(dependentes)]" id="{{numerodep}}" ng-required="numerodep"
				#numerodep>
			  <span class="focus-input3"></span>
			</div>
  
			<button class="contact3-form-btn"
              (click)="this.mensagem(nome.value,cep.value,rendaMensal.value, numerodep.value)">
              Enviar
            </button>
		</div>
	  </div>
	</div>
  </body>
